* {
    margin: 20px;
    text-align: center;
}

h2 {
    border: 2px solid black;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

.container1 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: center;
}

.container1 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container2 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: flex-start;
}

.container2 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container3 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: flex-end;
}

.container3 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container4 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: stretch;
}

.container4 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container5 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: baseline;
}

.container5 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container6 {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    align-items: normal;
}

.container6 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}