*{
    margin: 20px;
}

.flex-container {
    display: flex;
    height: 200px;
    background-color: dodgerblue;
}

.flex-container div {
    background-color: #f1f1f1;
    color: #000;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}