* {
    margin: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    background-color: DodgerBlue;
}

.container div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.container1 {
    display: flex;
    flex-flow: column wrap;
    background-color: DodgerBlue;
}

.container1 div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}