* {
    margin: 20px;
    text-align: center;
}

h1 , h2 {
    border: 2px solid black;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}


.container1 {
    display: flex;
    background-color: blueviolet;
    flex-direction: row;
}

.container1 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container2 {
    display: flex;
    background-color: chartreuse;
    flex-direction: column;
}

.container2 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container3 {
    display: flex;
    background-color: deepskyblue;
    flex-direction: row-reverse;
}

.container3 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container4 {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: column-reverse;
}

.container4 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}