* {
    margin: 20px;
    text-align: center;
}

h2 {
    border: 2px solid black;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}

.container1 {
    display: flex;
    height: 400px;
    background-color: blueviolet;
    flex-wrap: wrap;
    align-content: center;
}

.container2 {
    display: flex;
    height: 400px;
    background-color: blueviolet;
    flex-wrap: wrap;
    align-content: stretch;
}

.container3 {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: blueviolet;
    align-content: flex-start;
}

.container4 {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: blueviolet;
    align-content: flex-end;
}

.container5 {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: blueviolet;
    align-content: space-around;
}

.container6 {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: blueviolet;
    align-content: space-between;
}

.container7 {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: blueviolet;
    align-content: space-evenly;
}