* {
    margin: 20px;
    text-align: center;
}

h2 {
    border: 2px solid black;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}


.container1 {
    display: flex;
    background-color: blueviolet;
    justify-content: flex-start;
}

.container1 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.container2 {
    display: flex;
    background-color: blueviolet;
    justify-content: center;
}

.container2 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.container3 {
    display: flex;
    background-color: blueviolet;
    justify-content: flex-end;
}

.container3 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.container4 {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
}

.container4 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.container5 {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

.container5 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}
.container6 {
    display: flex;
    background-color: blueviolet;
    justify-content: space-evenly;
}

.container6 div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}