body {
    background-color: rgb(24, 231, 83);
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgb(89, 89, 247);
        color: white;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: tan;
        color: black;
    }
}
div{
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-height: 1200px) {
    .box1{
        background-color: purple;
        color: white;
    }
}
@media screen and (min-height: 700px) {
    .box2{
        background-color: rgb(218, 58, 218);
        color: white;
    }
}

@media screen and (height: 1500px){
    .box3{
        background-color: orange;
        color: white;
    }
}

@media screen and (max-width: 800px){
    .box4{
        background-color: brown;
        color: white;
    }
}

@media screen and (min-width: 1200px){
    .box5{
        background-color: grey;
        color: white;
    }
}

@media screen and (width: 500px){
    .box6{
        background-color: black;
        color: white;
        display: none;

    }
}

@media screen and (orientation: landscape){
    .box7{
        background-color: pink;
        color: black;
        font-size: 80px;
    }
}

@media screen and (resolution: 300dpi){
    .box8{
        background-color: cyan;
        color: black;

    }
}

@media screen and (prefers-color-scheme: dark){
    .box9{
        background-color: lime;
        color: black;
    }
}