* {
    text-align: center;
    margin: 10px;
    background-color: whitesmoke;
}

h2 {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(173, 174, 172);
}

div {
    border: 2px solid black;
    background-color: rgb(241, 97, 97);
    padding: 20px;
    color: white;
    font-weight: bolder;
}

.grid-container {
    background-color: rgb(217, 215, 215);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item5 {
    grid-column: 1 / span 2;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-row: 1 / span 3;
}

.i1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}